.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    width: 300px;
    border: 1px solid #61dafb;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    cursor: pointer;
    position: relative;
    width: calc(100% / 7);
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    border: none;
}

.day div{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
}

.day:disabled{
    color: black;
}

.days{
    display: flex;
}

.day:focus {
    outline: none;
}

.dayNames {
    background-color: white;
    height: 44px;
    align-items: center;
    display: flex;
}

.dayNames div {
    font-weight: 500;
    width: calc(100% / 7);
}

.selected {
    border: 2px solid #096ad6;
}

.before {
    color: grey;
}

.selected{
    border: 2px solid #096ad6;
}

.today {
    color: white;
    font-weight: 700;
    background-color: #096ad6;
}

.header {
    font-weight: 700;
    height: 40px;
    background-color: #61dafb;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}